<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="../" rel="" id="anchor1" class="anchorLink">Radial</a>
      <div id="circle"></div>
      <a href="#register" class="try">Register</a>
      <div class="nav-collapse collapse pull-right">
        <ul class="nav">
          <li class="">
            <a href="../#features" rel="" id="anchor1" class="anchorLink">Features</a>
          </li>
          <li class="">
            <a href="../#testimonial" rel="" id="anchor1" class="anchorLink">Customers</a>
          </li>
          <li class="">
            <a href="../#price" rel="" id="anchor1" class="anchorLink">Pricing</a>
          </li>
    <li class="">
      <a href="http://medium.com/@radialworks" target="_blank">Blog</a>
    </li>
        </ul>
      </div>
    </div>
  </div>
</div>    
<!-------------- NAVBAR THANKYOU--------------
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="../" rel="" id="anchor1" class="anchorLink">Radial</a>
      <div id="circle"></div>
      <a href="../signup/" class="try">Try us Free</a>
      <div class="nav-collapse collapse pull-right">
        <ul class="nav">
          <li class="">
            <a href="../features/" rel="" id="anchor1" class="anchorLink">Features</a>
          </li>
          <li class="">
            <a href="../customers/" rel="" id="anchor1" class="anchorLink">Customers</a>
          </li>
          <li class="">
            <a href="../signup/" rel="" id="anchor1" class="anchorLink">Pricing</a>
          </li>
    <li class="">
      <a href="http://medium.com/@radialworks" target="_blank">Blog</a>
    </li>
        </ul>
      </div>
    </div>
  </div>
</div>  
<!-------------- THANKYOU-------------->
<div class="testimonial" style="margin-top: 40px;">
  <div class="container">
    <div class="marketing">
      <h1 class="marketing-byline hidden-phone" style="font-size: 50px;">Danke schön, 谢谢, Tusind tak, Grazie mille, Thank ye, ありがとう, Mersi, Tusen Takk, متشكرم , Dziękuję, ཐུགས་རྗེ་ཆེ་།, Gracies, Спасибо, Kia, Wela'lin, Khublei</h1>
      <h1 class="marketing-byline visible-phone" style="font-size: 30px;">Danke schön, 谢谢, Tusind tak, Grazie mille, Thank ye, ありがとう, Mersi, Tusen Takk, متشكرم , Dziękuję, ཐུགས་རྗེ་ཆེ་།, Gracies, Спасибо, Kia, Wela'lin, Khublei</h1>
      <h1><text id="pop">THANK YOU</text>.</h1>
      <h1 class="marketing-byline" style="font-size: 30px;">Thanks for reaching out to <span style="color: #0088cc;"><a href="../">Radial</a></span>;<br>we take care of our people.<br>Hang tight, we're going to be in touch very soon.</h1>
    </div>
  </div>
</div>