{% extends 'base.html' %}

{% block CONTENT %}
<!-------------- NAVBAR FEATURES-------------->
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="../" rel="" id="anchor1" class="anchorLink">Radial</a>
      <div id="circle"></div>
      <a href="../signup/" class="try">Try us Free</a>
      <div class="nav-collapse collapse pull-right">
        <ul class="nav">
          <li class="">
            <a href="#features0" rel="" id="anchor1" class="anchorLink">Features</a>
          </li>
          <li class="">
            <a href="../customers/" rel="" id="anchor1" class="anchorLink">Customers</a>
          </li>
          <li class="">
            <a href="../signup/" rel="" id="anchor1" class="anchorLink">Pricing</a>
          </li>
	  <li class="">
	    <a href="http://medium.com/@radialworks" target="_blank">Blog</a>
	  </li>
        </ul>
      </div>
    </div>
  </div>
</div>  
<!-------------- FEATURES SHOWCASE --------------> 
<a name="features0" id="features0"></a>
<div class="marketing">
  <h1>For the fast and the focused.</h1><br>
  <div class="row-fluid">
    <a name="features1" id="features1"></a>
    <div class="span" style="margin-left: 0px;">
      <br><br><br>
      <a class="thumbnail" href="../features/#features1">
      <img class="marketing-img" src="/static/img/features/features1.png">
      </a>
      <h2>Start simple.</h2>
      <p class="marketing-byline">Less is more</p>
      <p>Reduce procedure to focus on your work. Easily manage teams, position requirements, and divide objectives into distributed goals for your entire team.</p>
    </div>
    <div class="span" style="margin-left: 0px;">
      <a name="features2" id="features2"></a> 
      <a class="thumbnail" href="../features/#feature2">
      <img class="marketing-img" src="/static/img/features/features2.png">
      </a>
      <h2>360 Radial review.</h2>
      <p class="marketing-byline">Feedback from  your circles</p>
      <p>Rapidly deploy reviews with scaled slider questions. Radial anonymously aggregates ratings and feedback from each affiliated circle. </p>
    </div>
    <div class="span" style="margin-left: 0px;">
      <a name="features3" id="features3"></a> 
      <a class="thumbnail" href="../features/#feature3">
      <img class="marketing-img" src="/static/img/features/features3.png">
      </a>
      <h2>Fast follow up.</h2>
      <p class="marketing-byline">Track process, measure progress</p>
      <p>Everyone on board. Follow the review process from the smallest team to the entire company. Automate reminder alerts for completion and followups.</p>
    </div>
  </div>
</div>
<div class="marketing">
  <h1>Clarity in action.</h1><br>
  <div class="row-fluid">
    <div class="span" style="margin-left: 0px;">
      <a name="features4" id="features4"></a> 
      <a class="thumbnail" href="../features/#feature4">
      <img class="marketing-img" src="/static/img/features/features4.png">
      </a>
      <h2>Profiles personalized.</h2>
      <p class="marketing-byline">Mission accomplished</p>
      <p>Align personal objectives with organization goals every quarter. Grow your personal profile as you accomplish objectives, and build your timeline of peer-recognized achievements.</p>
      <p><a id="thumbnaillink" href="../features/">More</a></p>
    </div>
    <div class="span" style="margin-left: 0px;">
      <a name="features5" id="features5"></a> 
      <a class="thumbnail" href="../features/#feature5">
      <img class="marketing-img" src="/static/img/features/features5.png">
      </a>
      <h2>Action reporting.</h2>
      <p class="marketing-byline">Remove ritual from review</p>
      <p>Connect review with action. Radial generates tailored action reports for every level from executive direction,  to team management and group cohesion.</p>	
    </div>
    <div class="span" style="margin-left: 0px;">
      <a name="features6" id="features6"></a> 
      <a class="thumbnail" href="../features/#feature6">
      <img class="marketing-img" src="/static/img/features/features6.png">
      </a>
      <h2>Reflect and grow.</h2>
      <p class="marketing-byline">Meaningful trends</p>
      <p>Visualize performance on a weighted quadrant that calibrates as your team progresses. Analyze performance improvements of individuals, or the entire organization. </p>
    </div>
  </div>
</div>
{% endblock %}