{% extends 'base.html' %}

{% block CONTENT %}
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="../" rel="" id="anchor1" class="anchorLink">Radial</a>
      <div id="circle"></div>
      <a href="#register" class="try">Register</a>
      <div class="nav-collapse collapse pull-right">
        <ul class="nav">
          <li class="">
            <a href="../#features" rel="" id="anchor1" class="anchorLink">Features</a>
          </li>
          <li class="">
            <a href="../#testimonial" rel="" id="anchor1" class="anchorLink">Customers</a>
          </li>
          <li class="">
            <a href="../#price" rel="" id="anchor1" class="anchorLink">Pricing</a>
          </li>
	  <li class="">
	    <a href="http://medium.com/@radialworks" target="_blank">Blog</a>
	  </li>
        </ul>
      </div>
    </div>
  </div>
</div>    
<!-------------- NAVBAR MOREINFO--------------
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="../" rel="" id="anchor1" class="anchorLink">Radial</a>
      <div id="circle"></div>
      <a href="../signup/" class="try">Try us Free</a>
      <div class="nav-collapse collapse pull-right">
        <ul class="nav">
          <li class="">
            <a href="../features/" rel="" id="anchor1" class="anchorLink">Features</a>
          </li>
          <li class="">
            <a href="../customers/" rel="" id="anchor1" class="anchorLink">Customers</a>
          </li>
          <li class="">
            <a href="../signup/" rel="" id="anchor1" class="anchorLink">Pricing</a>
          </li>
	  <li class="">
	    <a href="http://medium.com/@radialworks" target="_blank">Blog</a>
	  </li>
        </ul>
      </div>
    </div>
  </div>
</div>  
<!-------------- MOREINFO-------------->
<div class="testimonial" style="margin-top: 40px;">
  <div class="container">
    <div class="marketing">
    <h1><i class="fa fa-heart fa-2x" style="color: #0088cc"></i><br>We'd like to get to know you</h1>
    <p class="marketing-byline"><br>We're also <text id="pop">excited</text> about the <text id="pop">Radial beta</text> release.
    <br>We admit there will be quirks and bugs we can't forsee.<br>
    <br>A little <text id="pop">communication</text> goes a long way in finding if we're <text id="pop">perfect</text> to help your organization.</p>
      <form action="/thanks/" method="POST" style="display: inline-block;">{% csrf_token %}
        <input id="id_info_full_name" maxlength="250" name="info_full_name" type="text" required="True" placeholder="Name*">
        <input id="id_info_email" maxlength="250" name="info_email" class="required email" type="email" placeholder="Email*">
        <input id="id_info_organization" maxlength="250" name="info_organization" type="text" placeholder="Organization">
        <input id="id_info_address" maxlength="250" name="info_address" type="text" placeholder="Address">
        <input id="id_info_city" maxlength="250" name="info_city" type="text" placeholder="City">
        <input id="id_info_state" maxlength="2" name="info_state" type="text" placeholder="State">
        <input id="id_info_zip_code" maxlength="5" name="info_zip_code" type="text" placeholder="Zip Code">
        <input id="id_info_phone" maxlength="30" name="info_phone" type="text" placeholder="Phone Number">
        <textarea cols="40" id="id_info_comments" name="info_comments" rows="5" placeholder="Tell us a little about your team!"></textarea>
        <input type="submit" value="Send it!" class="btn btn-primary btn-large" style="display: inline-block">
      </form>
    </div>
  </div>
</div>
{% endblock %}