{% extends 'base.html' %}

{% block CONTENT %}
<!-------------- NAVBAR SIGNUP-------------->
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="../" rel="" id="anchor1" class="anchorLink">Radial</a>
      <div id="circle"></div>
      <a href="../signup/" class="try">Try us Free</a>
      <div class="nav-collapse collapse pull-right">
        <ul class="nav">
          <li class="">
            <a href="../features/" rel="" id="anchor1" class="anchorLink">Features</a>
          </li>
          <li class="">
            <a href="../customers/" rel="" id="anchor1" class="anchorLink">Customers</a>
          </li>
          <li class="">
            <a href="#signup0" rel="" id="anchor1" class="anchorLink">Pricing</a>
          </li>
	  <li class="">
	    <a href="http://medium.com/@radialworks" target="_blank">Blog</a>
	  </li>
        </ul>
      </div>
    </div>
  </div>
</div>  
<!-------------- SIGNUP -------------->

<br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br>

<a name="signup0" id="signup0"></a>

<br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br>

<a name="signup1" id="signup1"></a>
<h1>DETAILS AND COMPARISON</h1>

<br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br>

 
<a name="signup2" id="signup2"></a>
<h1>SIGNUP FORMS HERE</h1>


{% endblock %}